*{
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face{
    src: url('../Fonts/DancingScript-Regular.otf');
    font-family: DancingScript;
}

h1{
    text-shadow: 2px 0  0 2px #02010a;
}

body{
    background-color: #02010a;
    font-family: DancingScript;
}

#container{
    width: 900px;
    margin: auto;
}

header{
    background-color: #5b7989;
    color: #fff;
    text-align: left;
    border-radius: 10px 10px 0 0;
    width: 96%;
    display: inline-flex;
    padding: 2%;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    overflow: hidden;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

a{
    text-align: center;
    text-decoration: none;
    padding: 4%;
    color: white;
    margin-left: 2%;
    font-size: 20px;
}

#ImageCenter{
    clear: both;
    background-color: #82c3a6;
    width: 96%;
    padding: 2%;
}

#ImageCenter img{
    display: block;
    width: 50%;
    margin: 10px auto;
}

#ImageSeconds{
    background-color: #d5c75f;
    display: inline-flex;
    justify-content: space-around;
    border: 1px solid white;
}

#ImageSeconds figure{
    margin-top: 20px;
    width: 30%;
}

#ImageSeconds figure img{
    width: 100%;
}

img{
    box-shadow: 2px 2px 2px 2px #02010a;
}

#img1 img{
    transition-property: Transform;
    transition-duration: 1s;
    
}

#img1 img:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6;
}

#img2 img{
    transition-property: Transform;
    transition-duration: 1s;
}

#img2 img:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px #82c3a6;
}

footer{
    height: 150px;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-start;
}

footer div{
    width: 25%;
}

#facebook, #Youtube, #Twitter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}